@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-image: url('https://img.freepik.com/free-photo/abstract-blur-empty-green-gradient-studio-well-use-as-background-website-template-frame-business-report_1258-52616.jpg');
  background-position: center;
  background-size: cover;
}
